mixin content-screen__content(modifier)
  .content-screen__content&attributes(attributes)
    +header({
      text:modifier.headerText})(class="content-screen__header")
    if modifier._haveSendingForm
      +sending-form(modifier) 
    else
      +text-box(modifier.textHighlighted)(class='content-screen__text-box text-box_highlighted')
      +text-box(modifier.text)(class='content-screen__text-box')