.navigation__menu {
  width: 1275px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  &:after, &:before{
    position: absolute;
    content: '';
    width: 40%;
    height: 1px;
    bottom: 0;
    background-color: $navigation-before-after--BGColor;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0px;
  }
  @media (max-width: $xl - 1px) {
    width: 100%;
  }
  @media (max-width: $md - 1px){
    padding-top: 55px;
    padding-bottom:10px;
    display: block;
    width: auto;
    overflow: hidden;

    @media (orientation: landscape){
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100vh;
    }

    .navigation__sandwich-input:checked ~ .navigation__menu{
      max-height: none;
    }

    // @media (max-height: 400px) {
    //     padding-top: 0px;
    // }
  }
}
