mixin menu__navigation(modifier)
  .menu__navigation.swiper-wrapper&attributes(attributes)
    each navName, index in modifier.navigationArr
      +menu__tab-container(navName)(data-trigger=(index + 1))