mixin content-screen__image-and-descritption(modifier)
  .content-screen__image-and-descritption&attributes(attributes)
    +content-screen__image-wrapper(modifier)
    +content-screen__image-description-container(modifier)  