mixin main-screen__content(modifier)
  .main-screen__content&attributes(attributes)
    +annotation(modifier)(class="main-screen__annotation")
    +main-screen__fake-block(modifier)
    +main-screen__central-container(modifier)
    +main-screen__socials(modifier)