.content-screen__img {
  @include square(100%);
  position: relative;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  display: block;

  &:after{
    @include square(210px);
    @include centeredY();
    position: absolute;
    border-radius: 5px;
    border: 20px solid $content-screen__image-after--borderColor;
    content:"";
    display: block;
   }
}

.content-screen_image-position_right{
  .content-screen__img{
    &:after {
      right:0;
    }
  }
}
