include ../../blocks/preloader/preloader.pug
include ../../blocks/header/header.pug
include ../../blocks/link/link.pug
include ../../blocks/social/social.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/downward/downward.pug
include ../../blocks/main-screen/main-screen.pug
include ../../blocks/content-screen/content-screen.pug
include ../../blocks/carousel/carousel.pug
include ../../blocks/menu-screen/menu-screen.pug
include ../../blocks/picture-line/picture-line.pug
include ../../blocks/sending-screen/sending-screen.pug
include ../../blocks/map-screen/map-screen.pug
include ../../blocks/footer/footer.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Hunger
  body
    +preloader()(modifier)
    +navigation({
      items:['home','about','team','booking','menu','galerie','events','contact']
    })(class="")
    +main-screen({
    	annotation: {text: "Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM"}
    })(id="home")
    +content-screen({
      headerText: "about us",
      textHighlighted: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.",
      text: "Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.",
      imgName: "fire&coals"
    })(class="content-screen_image-position_right" id="about")
    +content-screen({
    	banner: "our team",
      headerText: "master chief",
      textHighlighted: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.",
      text: "Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.",
      imgName: "masterChief"
    })(class="content-screen_with-lines content-screen_theme_our-team content-screen_image-position_left content-screen_theme_dark" id="team")
    +content-screen({
      headerText: "book a table",
      imgName: "clocks",
      buttonText: "BOOK NOW",
      annotation: {
        text_regular1 : "Mon - Fri: ",
        text_highlighted1 : "8PM - 10PM, ",
        text_regular2 : "Sat - Sun: ",
        text_highlighted2 : "8PM - 3AM, ",
        text_regular3 : "Phone: ",
        text_highlighted3 : "+40 729 131 637/+40 726 458 782 ",
      }
    })(class="content-screen_image-position_right content-screen_theme_booking content-screen_with-sending-form" id="booking")
    +carousel([
    {
      value:{
        banner: "our team",
        headerText: "master chief",
        textHighlighted: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.",
        text: "Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.",
        imgName: "masterChief"
      },
      attributes: "content-screen_with-lines content-screen_theme_our-team content-screen_image-position_left content-screen_theme_dark"
    },
    {
      value:{
        banner: "specialties",
        headerText: "chocolate pancakes",
        textHighlighted: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.",
        text: "Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.",
        imgName: "chocolate"
      },
      attributes: "content-screen_theme_specialties content-screen_with-lines content-screen_image-position_left content-screen_theme_dark"
    },
    {
      value:{
        headerText: "book a table",
        imgName: "clocks",
        buttonText: "BOOK NOW",
        annotation: {
          text_regular1 : "Mon - Fri: ",
          text_highlighted1 : "8PM - 10PM, ",
          text_regular2 : "Sat - Sun: ",
          text_highlighted2 : "8PM - 3AM, ",
          text_regular3 : "Phone: ",
          text_highlighted3 : "+40 729 131 637/+40 726 458 782 ",
        }
      },
      attributes:"content-screen_image-position_right content-screen_theme_booking content-screen_with-sending-form"
    }])
    +menu-screen({
      header: "Delicious menu",
      subHeader: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.",
      navigationArr: ['soupe', 'pizza', 'pasta', 'desert', 'wine', 'beer', 'drinks'],
      listsArr:[
        [
          {
            listItemDishName: "pizza quatro stagioni",
            listItemPrice: '55,68',
            listItemDescription: "integer ulimacorper neque eu purus euismod"
          },
          {
            listItemDishName: "pizza quatro stagioni",
            listItemPrice: '55,68',
            listItemDescription: "integer ulimacorper neque eu purus euismod"
          }
        ],
        [
          {
            listItemDishName: "vtoroy",
            listItemPrice: '99,00',
            listItemDescription: "integer ulimacorper neque eu purus euismod"
          },
          {
            listItemDishName: "spisok",
            listItemPrice: '00,99',
            listItemDescription: "integer ulimacorper neque eu purus euismod"
          },
          {
            listItemDishName: "spisok",
            listItemPrice: '00,99',
            listItemDescription: "integer ulimacorper neque eu purus euismod"
          }
        ]
      ]
    })(id="menu")
    +content-screen({
      banner: "private events",
      imgName: "rings",
      imgName2: "wedding",
      imgDesc: "weddings",
      imgDesc2: "corporate\&nbsp;pzrties",
      annotation: {
          text_regular1 : "For private events please call: ",
          text_highlighted2 : "+40 729 131 637/+40 726 458 782 ",
          text_regular3 : "or use the contact form.",
        }
    })(class="content-screen_image-position_both-sides content-screen_theme_private-events content-screen_theme_dark" id="events")
    +picture-line([])(id="galerie")
    +sending-screen({
      header: "contact",
      headerDescription: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna",
      textAreaPlaceholder: "Message",
      buttonText: "SEND MESSAGE",
      contacts: [{img: 'location', text: "5th London Boulevard, U.K."}, {img: 'phone', text: "+40 729 131 637/+40 726 458 782"}, {img: 'mail', text: "office@mindblister.com"}],
      inputFields: [{placeholder:'Name', class:""},{placeholder:'Email', class:""},{placeholder:'Phone', class:""}]
    })(id="contact")
    +map-screen({})
    +footer({})
