.navigation__content {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  position: relative;

  @media (max-width: $md - 1px){
    transition: width 0.5s ease-out;
    width: 0;
    background-color: $navigaiont__content-md--BGColor;
    overflow-y: scroll;
    display: block;
    min-height: 100vh;

    .navigation__sandwich-input:checked ~ &{
      transition: width 0.5s ease-out;
      transform: translatex(0);
      width: 100vw;
    }
  }
}

