.content-screen__banner {
  margin-bottom: 41px;
  width: 100%;
  font-family: 'open-sans' ,Georgia , serif;
  font-weight: bold;
  font-style: normal;
  font-size : 1.2rem;
  line-height : 14px;
  text-align : center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: $content-screen__banner--Color;
  @media (max-width: $xl - 1px) {
    margin-bottom: 30px;
  }
  @media (max-width: $md - 1px) {
    margin-bottom: 15px;
  }
}

.content-screen_theme_specialties{
  .content-screen__banner {
    margin-bottom: 0;
    @media (max-width: $md - 1px){
      margin-bottom: 15px;
    }
  }
}

.content-screen_theme_private-events{
  .content-screen__banner {
    margin-bottom: 0;
    @media (max-width: $md - 1px) {
      margin-bottom: 15px;
    }
  }
}
