@import '_highlighted/text-box_highlighted';
.text-box {
  text-align: center;
  font-family: 'open-sans' ,Georgia , serif;
  font-size: 1.39rem;
  line-height: 2.6rem;
}

.text-box_highlighted {
  font-size: 1.94rem;
  font-weight: bold;
}
