.carousel {
  &.slick-slider{
    display: flex;
  }
  .slick-arrow{
    display: none;
  }
  .slick-dots{
    position: absolute;
    bottom: 6.5%;
    @include centeredX();
    display: flex;

    li{
      @include square(10px);
      color: $transparent;
      margin-right: 17px;
      border-radius: 100%;
      border: 1px solid black;
      background-color: $carousel__dots--BGColor;

      &:last-child{
        margin-right: 0;
      }
      &.slick-active{
        background-color: $carousel__dots-active--BGColor;
      }
    }
  }
}
