include ../content-screen/content-screen.pug
mixin carousel(modifier)
  //- скорее всего дело в том, что в карусель будет подключаться другие скрипты и
    скрипт slick.js вырывает этот блок из общего потока, что приводи к невозможности
    проверить использовать условие на модификаторах.
    span!=attributes.class.includes('carousel_theme_picture-line')
    поэтому для других блоков где будет использоваться карусель - будут
    создаваться специально заточенные элементы с классом carousel
  .carousel&attributes(attributes)
    each obj in modifier
      +content-screen(obj.value)(class=obj.attributes)
