//-Не стал удалять этот блок, т.к. может пригодится в будущем, хотя он, ,конечно же, не загействован.
//-mixin navigation__socials(modifier)
  ul.navigation__socials&attributes(attributes)
    +navigation__social({specialClass:"social_facebook"})
    +navigation__social({specialClass:"social_twitter"})
    +navigation__social({specialClass:"social_instagram"})