mixin main-screen__socials(modifier)
  ul.main-screen__socials&attributes(attributes)
    +main-screen__social({specialClass:"social_facebook"})
    +main-screen__social({specialClass:"social_twitter"})
    +main-screen__social({specialClass:"social_instagram"})
