@font-face {
  font-family: 'banny';
  font-style: normal;
  src:  local('☺'),
        url('../../fonts/banny/banny-round.woff2') format('woff2'),
        url('../../fonts/banny/banny-round.woff') format('woff');
}
