//-Не стал удалять этот блок, т.к. может пригодится в будущем, хотя он, ,конечно же, не загействован.mixin navigation__social(modifier)
  li.navigation__social&attributes(attributes)
    +social(modifier)(class=modifier.specialClass)
